@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/variables";
@import "../../../../../node_modules/bootstrap/scss/mixins";
@import "../../../../../node_modules/bootstrap/scss/grid";
@import "../../../../fonts.scss";

.three-steps-filler {
    height: 10vh;
}

.three-steps {
    height: 90vh;

    .brand {
        font-family: 'Rubik-Light';
        font-size: 4em;
    }

    .brand-description {
        font-family: 'Rubik-Light';
        font-size: 2em;
    }

    .step {
        font-family: 'Rubik-Light';
        font-size: 0.5em;
        margin-bottom: 4vh;
    }

    .brackets {
        z-index: -1;
        position: absolute;
        width: 30vw;
        height: 30vh;
    }

    .sdk-description {
        margin-top: 5vh;
        font-size: 3vh;
    }

    .button-container {
        margin-top: 15vh;
    }

    .code {
        top: 17vh;
        position: absolute;
        max-width: 23vw;
        font-size: 1.2vw;
        padding: 3vh;
        background-color: #f2f6ff;
        border: #d5d7ec solid 5px;
        border-radius: 20px;
    }

    .background-wires {
        z-index: -1;
        position: absolute;
        margin-top: 40vh;
    }
}