@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/bootstrap-reboot";
@import "../../../../node_modules/bootstrap/scss/nav";
@import "../../../../node_modules/bootstrap/scss/utilities";
@import "../../../../node_modules/bootstrap/scss/navbar";
@import "../../../../node_modules/bootstrap/scss/grid";

.greeting-text {
  font-family: 'Rubik-Regular';
  font-size: 2.2rem;
}

.form-group {
  margin-top: 10vh;
}

.input-field {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid;
  border-color: #2d2d2d;
  outline: none;
  transition: 0.5s;
  font-family: 'Rubik-Light';
  font-size: 1.4em;
  width: 20vw;

  &:not(:focus) {
    transition: 0.5s;
  }

  &:focus {
    transition: 0.5s;
    border-color: #9B8BFF;
  }
}
