@import "../../../../fonts.scss";

.greeting {
    margin-top: 10vh;
    height: 90vh;

    .brand {
        font-family: 'Rubik-Light';
        font-size: 4em;
    }

    .brand-description {
        font-family: 'Rubik-Light';
        font-size: 2em;
    }
}