@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/bootstrap-reboot";
@import "../../../../node_modules/bootstrap/scss/nav";
@import "../../../../node_modules/bootstrap/scss/utilities";
@import "../../../../node_modules/bootstrap/scss/navbar";
@import "../../../../node_modules/bootstrap/scss/grid";

@import "../../../fonts";

$navbar-dark-color:         #9B8BFF;
$navbar-light-color:        #C1B7FF;
$navbar-shadow-color:       #A49FC4;


.navbar-dark {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    background: linear-gradient(to right, $navbar-dark-color, $navbar-light-color);
    box-shadow: 0px 0px 15px 2px $navbar-shadow-color;
    color: $white;

    .navbar-brand {
        padding-left: 5vh;
    }

    .links-nav {
        margin-left: 4vw;
        .nav-link {
            margin-left: 0.5vw;
            margin-right: 0.5vw;
            cursor: pointer;
            font-size: 2.2vh;
            font-family: 'Rubik-Regular';
        }
    }
}

.hidden {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    transform: translate(0, -10vh);
}
